<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="edu.eci.arsw.treecore.persistence.impl.mybatis.mappers.ProyectoMapper">

    <resultMap id="ProyectoResult" type="Proyecto">
		<id property="id" column="id_proyecto"/>
		<result property="nombre" column="nombre_proyecto"/>
		<association property="proyecto" column="creador_proyecto" javaType="Usuario" resultMap="edu.eci.arsw.treecore.persistence.impl.mybatis.mappers.UsuarioMapper.UsuarioResult"/>
        <result property="descripcion" column="descripcion_proyecto"/>
        <result property="fechaDeCreacion" column="descripcion_fecha"/>
        <collection property="participantes" column="{participante_usuario}" 
        javaType="ArrayList" ofType="Usuario" resultMap="edu.eci.arsw.treecore.persistence.impl.mybatis.mappers.UsuarioMapper.UsuarioResult"/>   
    </resultMap>
</mapper>