<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
    <typeAliases>
    	<typeAlias type='edu.eci.arsw.treecore.model.impl.Usuario' alias='Usuario'/>
        <typeAlias type='edu.eci.arsw.treecore.model.impl.Notificacion' alias='Notificacion'/>
        <typeAlias type='edu.eci.arsw.treecore.model.impl.Invitacion' alias='Invitacion'/>
    </typeAliases>        
        
</configuration>