.sec1{
	width: 100%;
	height: 80%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.myDiagramDiv {
	background-color: lightblue;
	border: solid 2px blue;
	width: 80%;
	height: 90%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.sec2{
	width: 60%;
	height: 20%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 80%;
}

.info {
	background-color: lightblue;
	width: 80%;
	height: 50%;
}