.sec1 {
	width: 100%;
	height: 60%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.myDiagramDiv {
	background-color: #effbe8;
	border: solid 2px #ebf2e8;
	width: 80%;
	height: 90%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 25%;
}

.sec2 {
	width: 60%;
	height: 10%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 65%;
}

.info {
	background-color: lightblue;
	width: 80%;
	height: 50%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
}


.component {

	width: 60%;
	height: 30%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 100%;

}

.buttonCloseDiv {
	width: 10%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	background: red;
	position: relative;
	z-index: 10;
}

.colabDiv {
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0%;
	margin-top: 10%;
	text-align: center;
}

.openMenu {
	position: absolute;
	cursor: pointer;
	font-size: 140%;
	margin: 0 auto;
	left: 0.5%;
	right: 0;
	top: 14%;
	z-index: 40;
}


.sidenav {
	height: 40%;
	width: 0;
	position: absolute;
	z-index: 50;
	top: 8%;
	left: 0;
	background-color: #fffab3;
	opacity: 0.9;
	overflow-x: hidden;
	transition: 0.5s;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 3%;
	border-radius: 0 15px 15px 0;
}

.sidenav a {
	padding: 10% 3% 3% 10%;
	text-decoration: none;
	font-size: 200%;
	color: #818181;
	transition: 0.3s;
}

.sidenav a:hover {
	color: #f1f1f1;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 5%;
	font-size: 250%;
	margin-left: 100%;
	margin-top: -10%;
}

.buttonClose {
	position: absolute;
	cursor: pointer;
	font-size: 80%;
	margin: 0 auto;
	right: 2%;
	top: 10%;
}

.nuevaRamaN {
	margin-top: 5%;
}

.oldRamaN {
	margin-top: 5%;
}


@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 10%;
	}

	.sidenav a {
		font-size: 5%;
	}
}

.col1 {
	width: 100%;
	height:50%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 2%;
}

.col2 {
	width: 100%;
	height: 50%;
	text-align: center;
}

.col3 {
	width: 24%;
	float: right;
	text-align: center;
}

.btn2 {
	width:10%;
	height:80%;
	background-color: rgba(248, 207, 21, 0.87);
	border: none;
	color: white;
	font-size: 100%;
	cursor: pointer;
	padding: 1% 0% 0% 0%;
	
}

.btn2:hover {
	background-color: rgb(204, 46, 46);
}

.inputfile {
	cursor: pointer;

}

.delBot {
	border: none;
	color: red;
	cursor: pointer;
	float: right;
	margin-left: 14px;
}

.delBot:hover {
	background-color: red;
	color: white;
}

.putBot {
	border: none;
	color: red;
	cursor: pointer;
	float: right;
}

.putBot:hover {
	background-color: red;
	color: white;
}

.updateButton {
	width: 5%;
	height: 5%;
	top: 0;
	font-size: 23%;

}

.deleteDiv {
	width: 60%;
	height: 30%;
	text-align: center;
	margin-left: 95%;
	border-radius: 2%;
}

.deleteButton {
	border: none;
	padding: 15% 20% 15% 20%;
	cursor: pointer;
	border-radius: 2%;
}

.deleteButton:hover {
	background-color: rgb(225, 225, 225);
	color: white;
}
